# Provisioned with https://github.com/fusionfox/provision-pi-dashboard
@lxpanel --profile LXDE-pi
@pcmanfm --desktop --profile LXDE-pi
#@sh ${HOME}/.config/lxsession/LXDE-pi/autokey.sh
@xset s off
@xset -dpms
@xset s noblank
@midori -e Fullscreen -a {{ dashboard_url }}
