# Provisioned with https://galaxy.ansible.com/fusionfox/pi-dashboard/
@lxpanel --profile LXDE-pi
@pcmanfm --desktop --profile LXDE-pi
@point-rpi
@xset s off
@xset -dpms
@xset s noblank
@chromium-browser --kiosk --test-type --ignore-certificate-errors --disable-restore-session-state {{ dashboard_url }}
